
header {
	
	background-color: rgba(184,58,242,0.4); 
	font-size: x-large;
	position:relative;
	padding: 20px ;
    font-family: 'Quintessential', cursive;
	font-weight: bold;
}
h1{
	font-size: 2em;
    text-align: center;
	font-family: 'Quintessential', cursive;
	
}

/*Configuration Navigateur*/
.btn{
	list-style-type: none;
	display: flex;
    flex-direction: row;
    justify-content: space-evenly;
	font-family: 'Quintessential', cursive;
}
.btn > li > a{
	font-size: 1em;
	font-weight: bold;
	color: black;
	text-decoration: none;
	background-color: rgba(184,58,242,0.4);
	border-radius: 10px;
    padding: 1.5em;
}
.btn > li:hover a{
	color: white;
	background-color: rgba(77,8,89,1);
	transition: 1.5s all;
}
/*Mise en forme globale de la page*/
body{
	background: radial-gradient(rgb(233, 250, 134),rgb(240, 106, 146) 30%, rgba(96, 32, 170, 0.829) 60%);;
	font-family: 'Quintessential', cursive;
	text-align: justify;
    margin: 3em;
}
a{
    color: black;
    text-decoration: none;
	font-family: 'Quintessential', cursive;
}
a:hover{
    color: blueviolet;
    transition: 1s;
}
div.retour_TDM {
    display: flex;
    justify-content: flex-end;
    color: white;
    border-radius: 10px;
    padding: 0.5em;
}
.retour_TDM > a{
    color: white;
    background-color: blueviolet;
    padding: 1em;
    border-radius: 10px;

}
.retour_TDM > a:hover{
    color: blueviolet;
    background-color: white;
}

h2{
    margin-left: 2em;
    text-decoration: underline;
	font-family: 'Quintessential', cursive;

}
h3{
    margin-left: 3em;
    align-items: center;
	font-family: 'Quintessential', cursive;
}
h3::before{
    content: url(https://raw.githubusercontent.com/afeld/emoji-css/gh-pages/emoji/bulb.png);
}
footer{
    background-color: rgba(184,58,242,0.4); 
	position:relative;
	padding: 20px ;
    font-family: 'Quintessential', cursive;
	font-weight: bold;
}
@media screen and (min-width: 1280px) {

	body{
		background: url(fond.png) no-repeat;
		background-size: 100%;
		background-attachment: fixed;
		font-family: 'Quintessential', cursive;
		text-align: justify;
	}
	nav.menu-nav ul li.btn{
		list-style-type: none;
		display: inline-block;
	}
	nav.menu-nav ul li.btn a{
		font-size: large;
		font-family: cursive;
		font-weight: bold;
		color: black;
		text-decoration: none;
		background-color: rgba(184,58,242,0.4);
		border-radius: 10px;
		padding-left: 50px;
		padding-right: 50px;
		padding-top: 15px;
		padding-bottom: 15px;
		margin: 5px;
	}
	div#content div{
		display: inline-block;
		width: 48%;
		margin: 20px;
	}

	div#content.rightbox div{
		display: inline-block;
		width: 30%;
		margin: 20px;
}
}
